&dac {
    status = "okay";
};

&uart2 {
    status = "okay";
    current-speed = <115200>;
};

#include <zephyr/dt-bindings/pinctrl/esp32-pinctrl.h>

&pinctrl {
    ledc0_pwm_out: ledc0_pwm_out {
        group1 {
            pinmux = <LEDC_CH0_GPIO32>;
            output-enable;
        };
    };
};

&ledc0 {
    status = "okay";
    pinctrl-0 = <&ledc0_pwm_out>;
    pinctrl-names = "default";
    #address-cells = <1>;
    #size-cells = <0>;

    channel0@0 {
        reg = <0x0>;
        timer = <0>;
    };

};

&gpio0 {
    status = "okay";
};